/* 
    imports
*/
.main {
  display: grid;
  grid-template-columns: 32% 8% 36% 24%;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.main__gap {
  display: flex;
  width: 1px;
  height: 100%;
  background: #1a1a1a;
  opacity: 0.3;
  position: absolute;
  z-index: 10;
}

.main__gap:nth-child(1) {
  grid-column: 1 / 2;
}

.main__gap:nth-child(2) {
  grid-column: 2 / 3;
}

.main__gap:nth-child(3) {
  grid-column: 3 / 4;
}

.main__gap:nth-child(4) {
  grid-column: 4 / 5;
}

.main__gap:nth-child(5) {
  grid-column: 4 / 5;
  justify-self: end;
}

@media only screen and (max-width: 1260px) {
  .main {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 740px) {
  .main {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 490px) {
  .main {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 460px) {
  .main {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 360px) {
  .main {
    padding: 0 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / 5;
  padding: 30px 10px;
  width: 100%;
  z-index: 2;
  position: absolute;
}

.header__logo {
  font-size: 14px;
}

.header__menu {
  display: flex;
  width: 55%;
  justify-content: flex-end;
}

.header__menu__nav {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.header__menu__nav__item {
  display: flex;
  flex: 1;
  margin: 0 20px 0 0;
}

.header__menu__nav__item__link {
  color: #fff;
}

.header__menu__nav__item:last-child {
  flex: 4;
  justify-content: flex-end;
  margin: 0;
}

.header__menu__nav__btn {
  display: none;
  flex-direction: column;
}

.header__menu__nav__btn > span {
  width: 30px;
  height: 2px;
  background: #fff;
  border-radius: 1px;
  margin: 6px 0 0 0;
}

.header__menu__nav__btn > span:first-child {
  margin: 0;
}

@media only screen and (max-width: 590px) {
  .header__menu__nav {
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    right: -30px;
    width: 130%;
    transform: translateX(100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    position: absolute;
    padding: 100px 0 100px;
  }
  .header__menu__nav__item {
    flex: 1 !important;
  }
  .header__menu__nav__item__link {
    border-bottom: 1px solid #fff;
    height: 30px;
    padding: 0 100px 0 0;
  }
  .header__menu__nav__btn {
    display: flex;
    z-index: 100;
  }
}

.hero {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 32% 8% 36% 24%;
  grid-column: 1 / 5;
  position: relative;
  margin: -20px 0 0 0;
  padding: 135px 0 0 0;
}

.hero::before {
  content: "";
  height: 600px;
  width: 200%;
  right: -140%;
  position: absolute;
  background: #00c3e3;
  z-index: -1;
}

.hero__description {
  max-width: 198px;
  font-weight: 500;
  margin: 274px 0 0 10px;
}

.hero__content {
  display: flex;
  position: relative;
  margin: 0 0 0 10px;
}

.hero__content__titles {
  position: absolute;
  margin: 50px 0 0 0;
  left: -198px;
}

.hero__content__titles__korean {
  position: relative;
}

.hero__content__titles__korean__text {
  position: absolute;
  font-size: 72px;
  font-weight: 400;
}

.hero__content__titles__korean__text:last-child {
  color: #ffffff;
  clip-path: polygon(75.8% 0, 100% 0, 100% 100%, 75.8% 100%);
}

.hero__content__titles__fashion {
  position: relative;
  margin: 89px 0 0 50px;
}

.hero__content__titles__fashion__text {
  position: absolute;
  font-size: 64px;
  font-weight: 400;
}

.hero__content__titles__fashion__text:last-child {
  color: #ffffff;
  clip-path: polygon(57% 0, 100% 0, 100% 100%, 57% 100%);
}

.hero__content__titles__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 184px 0 0 90px;
}

.hero__content__titles__btn__line {
  width: 1px;
  height: 150px;
  background: #1a1a1a;
}

.hero__content__titles__btn__btn {
  margin: 10px 0 0 0;
}

.hero__content__photo {
  position: relative;
  z-index: -1;
  height: 100%;
  max-height: 512px;
}

.hero__content__photo::before {
  content: "";
  max-width: 40px;
  width: 100%;
  height: 2px;
  background: #003334;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 -10px 16px 0;
}

.hero__content__photo::after {
  content: "Bow tie Hepburn Short sleeves shirt";
  max-width: 261px;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0 0 10px 20px;
}

.hero__slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 76px;
  grid-column: 4 / 5;
  margin: 125px 0 0 35px;
}

.hero__slider__link {
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  position: relative;
}

.hero__slider__link::before {
  content: "";
  width: 15px;
  height: 2px;
  background: #1a1a1a;
  position: absolute;
  left: -25px;
}

.hero__slider__link-active {
  color: #fff;
}

.hero__slider__link-active::before {
  background: #fff;
}

.hero__hotDeals {
  grid-column: 4 / 5;
  position: absolute;
  bottom: 65px;
  margin: 0 50px -20px 0;
  right: 0;
  display: flex;
  align-items: center;
}

.hero__hotDeals::after {
  content: "";
  background-image: url("./../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  position: absolute;
  right: -41px;
}

.hero__socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 142px;
  position: absolute;
  right: -29px;
  top: 168px;
}

@media only screen and (max-width: 1320px) {
  .hero__socialMedia {
    right: 0px;
    margin: 0 20px 0 0;
  }
}

@media only screen and (max-width: 1120px) {
  .hero__description {
    max-width: 130px;
  }
  .hero__content__photo::after {
    width: 60%;
    margin: 0 0 -6px 20px;
  }
}

@media only screen and (max-width: 900px) {
  .hero__content__photo::before {
    left: 8px;
    max-width: 20px;
    margin: 0 0 16px 0;
  }
  .hero__content__photo::after {
    width: 100% !important;
    left: 28px;
    bottom: 16px;
    font-size: 11px;
    color: #fff;
  }
}

@media only screen and (max-width: 860px) {
  .hero {
    margin-bottom: 50px;
  }
  .hero__description {
    position: absolute;
    margin: 680px 10px 0 10px;
    width: 100%;
    max-width: 100% !important;
  }
  .hero__content {
    margin: 0 0 0 200px;
  }
  .hero__content__photo::before {
    display: none;
  }
  .hero__content__photo::after {
    display: none;
  }
}

@media only screen and (max-width: 820px) {
  .hero::before {
    height: 440px;
  }
  .hero__description {
    margin: 570px 10px 0 10px;
  }
  .hero__content {
    width: 340px;
  }
  .hero__content__photo {
    width: 260px;
  }
  .hero__content__photo > img {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero::before {
    height: 300px;
  }
  .hero__description {
    margin: 520px 10px 0 10px;
  }
  .hero__content {
    width: 340px;
  }
  .hero__content__titles {
    margin: 30px 0 0 0;
    left: -176px;
  }
  .hero__content__titles__korean__text {
    font-size: 64px;
  }
  .hero__content__titles__fashion {
    margin: 89px 0 0 60px;
  }
  .hero__content__titles__fashion__text {
    font-size: 48px;
  }
  .hero__content__titles__btn__line {
    height: 100px;
  }
  .hero__content__photo {
    width: 210px;
  }
  .hero__content__photo > img {
    width: 100%;
  }
}

@media only screen and (max-width: 610px) {
  .hero__hotDeals {
    display: none;
  }
  .hero__description {
    margin: 400px 10px 0 10px;
  }
  .hero__content {
    margin: 0 0 0 30vw;
  }
  .hero__content__titles {
    margin: 30px 0 0 0;
    left: -110px;
  }
  .hero__content__titles__korean__text {
    font-size: 36px;
  }
  .hero__content__titles__korean__text:last-child {
    clip-path: polygon(82% 0, 100% 0, 100% 100%, 82% 100%);
  }
  .hero__content__titles__fashion {
    margin: 50px 0 0 38px;
  }
  .hero__content__titles__fashion__text {
    font-size: 24px;
  }
  .hero__content__titles__fashion__text:last-child {
    clip-path: polygon(72% 0, 100% 0, 100% 100%, 72% 100%);
  }
  .hero__content__titles__btn {
    display: none;
  }
  .hero__content__titles__btn__line {
    height: 100px;
  }
  .hero__content__photo {
    width: 150px;
  }
}

@media only screen and (max-width: 460px) {
  .hero__slider {
    margin: 20px 0 0 35px;
  }
  .hero__socialMedia {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .hero__content__titles {
    margin: 30px 0 0 0;
    left: -90px;
  }
  .hero__content__titles__korean__text {
    font-size: 36px;
  }
  .hero__content__titles__korean__text:last-child {
    clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 100%);
  }
  .hero__content__titles__fashion {
    margin: 50px 0 0 38px;
  }
  .hero__content__titles__fashion__text {
    font-size: 24px;
  }
  .hero__content__titles__fashion__text:last-child {
    clip-path: polygon(51% 0, 100% 0, 100% 100%, 51% 100%);
  }
  .hero__content__titles__btn {
    display: none;
  }
  .hero__content__titles__btn__line {
    height: 100px;
  }
  .hero__content__photo {
    width: 130px;
  }
}

.collection {
  grid-column: 1 / 5;
  display: flex;
}

.collection:nth-of-type(3) {
  margin: 50px 0 0 0;
  justify-content: flex-end;
}

.collection__gallery {
  position: relative;
  display: flex;
  flex-direction: column;
}

.collection__gallery__photo__main {
  width: 100%;
}

.collection__gallery__bottom {
  display: flex;
  position: relative;
}

.collection__gallery__bottom__description {
  max-width: 351px;
  margin: 30px 30px 0 25px;
}

.collection__gallery__bottom__description__btn {
  font-size: 14px;
  margin: 50px 0 0 0;
  display: flex;
  align-items: center;
  position: relative;
}

.collection__gallery__bottom__description__btn::after {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("./../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -41px;
  pointer-events: none;
}

.collection__gallery__bottom__img {
  margin: -202px -55px 0 0;
  width: 100%;
  min-width: 210px;
}

.collection__gallery__bottom__img > img {
  width: 100%;
}

.collection__items {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 60px;
}

.collection__items__title {
  font-size: 36px;
  font-weight: 500;
}

.collection__items__navbar {
  display: flex;
  flex-direction: column;
}

.collection__items__navbar__link {
  margin: 20px 0 0 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.collection__items__navbar__link::before {
  content: "";
  width: 5px;
  height: 2px;
  background: #1a1a1a;
  left: -10px;
  margin: 1px 0 0 0;
  position: absolute;
  pointer-events: none;
}

.collection__items__navbar__link:last-child {
  margin: 30px 0 0 10px;
}

.womensCollection .collection__items__title {
  margin: 0 -13px 0 0;
  text-align: right;
}

.womensCollection .collection__items {
  margin: 0 70px 0 0;
}

.womensCollection .collection__items__navbar__link {
  justify-content: flex-end;
  margin: 20px 10px 0 0;
}

.womensCollection .collection__items__navbar__link::before {
  display: none;
}

.womensCollection .collection__items__navbar__link::after {
  content: "";
  width: 5px;
  height: 2px;
  background: #1a1a1a;
  right: -10px !important;
  margin: 1px 0 0 0;
  position: absolute;
  pointer-events: none;
}

.womensCollection .collection__gallery__bottom__description {
  margin: 30px 25px 0 30px;
}

.womensCollection .collection__gallery__bottom__img {
  margin: -202px 0 0 -55px;
}

@media only screen and (max-width: 1194px) {
  .collection {
    grid-column: 1 / 5;
    display: flex;
  }
  .collection:nth-of-type(3) {
    margin: 50px 0 0 0;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 1194px) {
  .collection {
    grid-column: 1 / 5;
    display: flex;
  }
  .collection:nth-of-type(3) {
    margin: 50px 0 0 0;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 680px) {
  .collection {
    flex-direction: column;
  }
  .collection__items {
    margin: 20px 0 0 10px;
  }
  .collection__items__title {
    font-size: 28px;
  }
  .collection__gallery__bottom__description {
    margin: 30px 30px 0 10px !important;
    max-width: 100%;
  }
  .collection__gallery__bottom__img {
    margin: -202px 0 0 0;
    position: absolute;
    max-width: 200px;
    top: -60px;
    right: 0;
  }
  .womensCollection {
    flex-direction: column-reverse;
  }
  .womensCollection .collection__items {
    margin: 20px 20px 0 0;
  }
  .womensCollection .collection__items__title {
    font-size: 28px;
  }
}

.trending {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;
}

.trending__title {
  margin: 0 0 0 50px;
  font-size: 36px;
  font-weight: 400;
}

.trending__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 0 0;
}

.trending__items__item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 20px 0 0;
}

.trending__items__item:last-child {
  margin: 0;
}

.trending__items__item > img {
  width: 100%;
}

.trending__items__item__title {
  max-width: 200px;
  margin: 20px 0 0 15px;
  position: relative;
}

.trending__items__item__title::before {
  content: "";
  width: 5px;
  height: 2px;
  background: #1a1a1a;
  position: absolute;
  left: -10px;
  margin: 6px 0 0 0;
}

.trending__btn {
  align-self: center;
  margin: 120px 0 0 0;
}

@media only screen and (max-width: 680px) {
  .trending__items {
    flex-wrap: wrap;
  }
  .trending__items__item {
    max-width: 300px;
  }
  .trending__title {
    font-size: 28px;
    margin: 0 0 0 20px;
  }
}

@media only screen and (max-width: 648px) {
  .trending__items {
    flex-direction: column-reverse;
  }
  .trending__items__item {
    margin: 40px 0 0 0;
    max-width: 300px;
  }
  .trending__items__item:nth-child(odd) {
    align-self: flex-end;
  }
  .trending__btn {
    margin: 50px 0 0 0;
  }
}

.about {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;
  position: relative;
}

.about::before {
  content: "";
  width: 200%;
  left: -124%;
  height: 530px;
  background: #00c3e3;
  position: absolute;
  z-index: -1;
}

.about__title {
  margin: 40px 0 0 20px;
  font-size: 36px;
  font-weight: 400;
}

.about__subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 0 20px;
}

.about__content {
  margin: 30px 0 0 0;
  display: flex;
}

.about__content__img {
  position: relative;
}

.about__content__img::before {
  content: "";
  width: 40px;
  height: 2px;
  background: #1a1a1a;
  position: absolute;
  right: -10px;
  bottom: 0;
  margin: 0 0 11px 0;
}

.about__content__img::after {
  content: "Our team (Stacy, Ketty, Elan and Cloe)";
  position: absolute;
  right: -310px;
  bottom: 0;
  margin: 0 0 5px 0;
}

.about__content__right {
  margin: 0 0 0 50px;
  display: flex;
  flex-direction: column;
}

.about__content__right__description {
  max-width: 595px;
  margin: 20px 0 0 0;
  font-size: 14px;
}

.about__content__right__description:first-child {
  margin: 0;
}

.about__content__right__description__text {
  margin: 30px 0 0 0;
}

.about__content__right__description__btn {
  margin: 50px 0 0 0;
}

@media only screen and (max-width: 1300px) {
  .about__content__img {
    max-width: 532px;
    overflow: hidden;
  }
  .about__content__img > img {
    height: 100%;
    object-position: center;
  }
  .about__content__img::before, .about__content__img::after {
    display: none;
  }
  .about__content__right {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 920px) {
  .about__content {
    flex-direction: column;
  }
  .about__content__img {
    max-width: 100%;
    max-height: 500px;
  }
  .about__content__img > img {
    width: 100%;
    height: auto;
  }
  .about__content__right {
    margin: 40px 20px 0 20px;
  }
  .about__content__right__description {
    max-width: 100%;
  }
}

.blog {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 32% 8% 36% 24%;
}

.blog__title {
  grid-column: 1 / 5;
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 30px 20px;
}

.blog__item__one__img, .blog__item__two__img, .blog__item__three__img, .blog__item__four__img {
  display: flex;
}

.blog__item__one__img img, .blog__item__two__img img, .blog__item__three__img img, .blog__item__four__img img {
  width: 100%;
}

.blog__item__one__content, .blog__item__two__content, .blog__item__three__content, .blog__item__four__content {
  margin: 30px 20px 0 20px !important;
  height: 0;
}

.blog__item__one__content__title, .blog__item__two__content__title, .blog__item__three__content__title, .blog__item__four__content__title {
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0 0 0 15px;
  position: relative;
}

.blog__item__one__content__title::before, .blog__item__two__content__title::before, .blog__item__three__content__title::before, .blog__item__four__content__title::before {
  content: "";
  width: 5px;
  height: 2px;
  background: #1a1a1a;
  position: absolute;
  left: -15px;
}

.blog__item__one__content__description, .blog__item__two__content__description, .blog__item__three__content__description, .blog__item__four__content__description {
  margin: 20px 0 0 0;
  max-width: 501px;
}

.blog__item__one__content__btn, .blog__item__two__content__btn, .blog__item__three__content__btn, .blog__item__four__content__btn {
  margin: 50px 0 0 0;
}

.blog__item__one__img {
  grid-column: 1 / 2;
}

.blog__item__one__content {
  grid-column: 2 / 4;
  margin: 0 20px;
}

.blog__item__two__img {
  grid-column: 4 / 5;
  position: relative;
}

.blog__item__three__img {
  grid-column: 3 / 4;
  position: relative;
}

.blog__item__three__content {
  grid-column: 1 / 3;
}

.blog__item__four__img {
  grid-column: 1 / 3;
}

.blog__item__four__content {
  grid-column: 3 / 4;
  margin: 0 20px;
}

.blog__btn {
  grid-column: 1 / 5;
  justify-self: center;
  margin: 120px 0 0 0;
}

@media only screen and (max-width: 1240px) {
  .blog {
    display: flex;
    flex-direction: column;
  }
}

.partners {
  grid-column: 1 / 5;
  width: 100%;
  justify-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.partners__title {
  font-size: 36px;
  font-weight: 400;
}

.partners__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin: 50px 0 0 0;
}

.footer {
  margin: 200px 0 0 0;
  grid-column: 1 / 5;
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1a1a1a;
  position: relative;
}

.footer * {
  color: #f2f2f2;
}

.footer::before {
  content: "";
  width: 400%;
  height: 360px;
  background: #1a1a1a;
  position: absolute;
  z-index: -1;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 30px 15px 0 15px;
}

.footer__description, .footer__touch, .footer__follow, .footer__help {
  display: flex;
  flex-direction: column;
}

.footer__description__link, .footer__touch__link, .footer__follow__link, .footer__help__link {
  margin: 20px 0 0 0;
  font-size: 14px;
}

.footer__description__link:first-of-type, .footer__touch__link:first-of-type, .footer__follow__link:first-of-type, .footer__help__link:first-of-type {
  margin: 50px 0 0 0;
}

.footer__description {
  max-width: 501px;
}

.footer__description__title {
  font-size: 36px;
  font-weight: 400;
  position: relative;
}

.footer__description__title::before {
  content: "";
  width: 10px;
  height: 2px;
  background: #f2f2f2;
  position: absolute;
  bottom: -1px;
  left: -3px;
}

.footer__description__text {
  margin: 50px 0 0 0;
}

.footer__touch {
  max-width: 200px;
}

.footer__follow {
  max-width: 134px;
}

.footer__help {
  max-width: 131px;
}

.footer__cp {
  position: absolute;
  bottom: 0;
  margin: 0 0 20px 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.wrapper {
  overflow: hidden;
}

body {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-family: "Roboto Mono", monospace;
  color: #1a1a1a;
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

section {
  margin: 100px 0 0 0;
}

button {
  background: none;
  color: #1a1a1a;
  border: none;
}

button:hover {
  cursor: pointer;
}

.main__btn {
  width: 130px;
  height: 54px;
  border: 1px solid #1a1a1a;
  position: relative;
}

.main__btn::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("./../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin: 4px 0 0 10px;
  pointer-events: none;
}

.secondary__btn {
  width: 180px;
  height: 54px;
  border: 1px solid #1a1a1a;
  position: relative;
}

.secondary__btn::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("./../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin: 4px 0 0 10px;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */