// about
.about {
  display: flex;
  flex-direction: column;

  grid-column: 1 / 5;

  position: relative;

  &::before {
    content: "";
    width: 200%;
    left: -124%;
    height: 530px;
    background: #00c3e3;

    position: absolute;
    z-index: -1;
  }

  // about__title
  &__title {
    margin: 40px 0 0 20px;
    font-size: 36px;
    font-weight: 400;
  }

  // about__subtitle
  &__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 0 20px;
  }

  // about__content
  &__content {
    margin: 30px 0 0 0;
    display: flex;

    // about__content__img
    &__img {
      position: relative;

      &::before {
        content: "";

        width: 40px;
        height: 2px;
        background: #1a1a1a;

        position: absolute;
        right: -10px;
        bottom: 0;
        margin: 0 0 11px 0;
      }

      &::after {
        content: "Our team (Stacy, Ketty, Elan and Cloe)";

        position: absolute;
        right: -310px;
        bottom: 0;
        margin: 0 0 5px 0;
      }
    }

    // about__content__right
    &__right {
      margin: 0 0 0 50px;
      display: flex;
      flex-direction: column;

      // about__content__right__description
      &__description {
        max-width: 595px;
        margin: 20px 0 0 0;
        font-size: 14px;
        &:first-child {
          margin: 0;
        }

        // about__content__right__description__text
        &__text {
          margin: 30px 0 0 0;
        }
        // about__content__right__description__btn
        &__btn {
          margin: 50px 0 0 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) {
  .about {
    &__content {
      &__img {
        max-width: 532px;
        overflow: hidden;
        & > img {
          height: 100%;
          object-position: center;
        }
        &::before,
        &::after {
          display: none;
        }
      }
      &__right {
        margin-right: 20px;
      }
    }
  }
}
@media only screen and (max-width: 920px) {
  .about {
    &__content {
      flex-direction: column;

      &__img {
        max-width: 100%;
        max-height: 500px;
        & > img {
          width: 100%;
          height: auto;
        }
      }

      &__right {
        margin: 40px 20px 0 20px;
        &__description {
          max-width: 100%;
        }
      }
    }
  }
}
