// collection
.collection {
  grid-column: 1 / 5;

  display: flex;

  &:nth-of-type(3) {
    margin: 50px 0 0 0;
    justify-content: flex-end;
  }

  // collection__gallery
  &__gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    // collection__gallery__photo
    &__photo {
      &__main {
        width: 100%;
      }
    }
    // collection__gallery__bottom
    &__bottom {
      display: flex;
      position: relative;

      //   collection__gallery__bottom__description
      &__description {
        max-width: 351px;
        margin: 30px 30px 0 25px;

        // collection__gallery__bottom__description__btn
        &__btn {
          font-size: 14px;
          margin: 50px 0 0 0;
          display: flex;
          align-items: center;

          position: relative;

          &::after {
            content: "";
            width: 12px;
            height: 12px;
            background-image: url("./../images/arrow.svg");
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: -41px;

            pointer-events: none;
          }
        }
      }
      //   collection__gallery__bottom__img
      &__img {
        margin: -202px -55px 0 0;
        width: 100%;
        min-width: 210px;
        & > img {
          width: 100%;
        }
      }
    }
  }

  // collection__items
  &__items {
    display: flex;
    flex-direction: column;

    margin: 0 0 0 60px;

    // collection__items__title
    &__title {
      font-size: 36px;
      font-weight: 500;
    }

    // collection__items__navbar
    &__navbar {
      display: flex;
      flex-direction: column;

      // collection__items__navbar__link
      &__link {
        margin: 20px 0 0 10px;
        font-size: 14px;
        display: flex;
        align-items: center;
        width: 100%;

        position: relative;

        &::before {
          content: "";
          width: 5px;
          height: 2px;
          background: #1a1a1a;
          left: -10px;
          margin: 1px 0 0 0;

          position: absolute;

          pointer-events: none;
        }

        &:last-child {
          margin: 30px 0 0 10px;
        }
      }
    }
  }
}

// womensCollection
.womensCollection {
  .collection__items__title {
    margin: 0 -13px 0 0;
    text-align: right;
  }
  .collection__items {
    margin: 0 70px 0 0;
  }
  .collection__items__navbar__link {
    justify-content: flex-end;
    margin: 20px 10px 0 0;

    &::before {
      display: none;
    }

    &::after {
      content: "";
      width: 5px;
      height: 2px;
      background: #1a1a1a;
      right: -10px !important;
      margin: 1px 0 0 0;

      position: absolute;

      pointer-events: none;
    }
  }

  .collection__gallery__bottom__description {
    margin: 30px 25px 0 30px;
  }

  .collection__gallery__bottom__img {
    margin: -202px 0 0 -55px;
  }
}

// media queries
@media only screen and (max-width: 1194px) {
  // collection
  .collection {
    grid-column: 1 / 5;

    display: flex;

    &:nth-of-type(3) {
      margin: 50px 0 0 0;
      justify-content: flex-end;
    }
  }
}

@media only screen and (max-width: 1194px) {
  // collection
  .collection {
    grid-column: 1 / 5;

    display: flex;

    &:nth-of-type(3) {
      margin: 50px 0 0 0;
      justify-content: flex-end;
    }
  }
}
@media only screen and (max-width: 680px) {
  .collection {
    flex-direction: column;

    &__items {
      margin: 20px 0 0 10px;
      &__title {
        font-size: 28px;
      }
    }
    &__gallery {
      &__bottom {
        &__description {
          margin: 30px 30px 0 10px !important;
          max-width: 100%;
        }
        &__img {
          margin: -202px 0 0 0;
          position: absolute;
          max-width: 200px;
          top: -60px;
          right: 0;
        }
      }
    }
  }
  .womensCollection {
    flex-direction: column-reverse;
    .collection {
      &__items {
        margin: 20px 20px 0 0;

        &__title {
          font-size: 28px;
        }
      }
    }
  }
}
