// hero
.hero {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 32% 8% 36% 24%;
  grid-column: 1 / 5;

  position: relative;

  margin: -20px 0 0 0;

  padding: 135px 0 0 0;

  &::before {
    content: "";
    height: 600px;
    width: 200%;

    right: -140%;
    position: absolute;
    background: #00c3e3;
    z-index: -1;
  }

  // hero__description
  &__description {
    max-width: 198px;
    font-weight: 500;
    margin: 274px 0 0 10px;
  }

  // hero__content
  &__content {
    display: flex;
    position: relative;
    margin: 0 0 0 10px;

    // hero__content__titles
    &__titles {
      position: absolute;

      margin: 50px 0 0 0;
      left: -198px;

      // hero__content__titles__korean
      &__korean {
        position: relative;
        // hero__content__titles__korean__text
        &__text {
          position: absolute;
          font-size: 72px;
          font-weight: 400;

          &:last-child {
            color: #ffffff;
            clip-path: polygon(75.8% 0, 100% 0, 100% 100%, 75.8% 100%);
          }
        }
      }
      // hero__content__titles__fashion
      &__fashion {
        position: relative;

        margin: 89px 0 0 50px;
        // hero__content__titles__fashion__text
        &__text {
          position: absolute;
          font-size: 64px;
          font-weight: 400;

          &:last-child {
            color: #ffffff;
            clip-path: polygon(57% 0, 100% 0, 100% 100%, 57% 100%);
          }
        }
      }

      // hero__content__titles__btn
      &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 184px 0 0 90px;

        // hero__content__titles__btn__line
        &__line {
          width: 1px;
          height: 150px;
          background: #1a1a1a;
        }

        // hero__content__titles__btn__btn
        &__btn {
          margin: 10px 0 0 0;
        }
      }
    }

    // hero__content__photo
    &__photo {
      position: relative;
      z-index: -1;
      height: 100%;
      max-height: 512px;

      &::before {
        content: "";
        max-width: 40px;
        width: 100%;
        height: 2px;
        background: #003334;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 -10px 16px 0;
      }
      &::after {
        content: "Bow tie Hepburn Short sleeves shirt";
        max-width: 261px;
        width: 100%;
        position: absolute;
        bottom: 0;
        margin: 0 0 10px 20px;
      }
    }
  }

  // hero__slider
  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76px;

    grid-column: 4 / 5;
    margin: 125px 0 0 35px;

    // hero__slider__link
    &__link {
      font-weight: 500;
      font-size: 12px;

      display: flex;
      align-items: center;

      position: relative;

      &::before {
        content: "";
        width: 15px;
        height: 2px;
        background: #1a1a1a;

        position: absolute;

        left: -25px;
      }

      &-active {
        color: #fff;

        &::before {
          background: #fff;
        }
      }
    }
  }

  // hero__hotDeals
  &__hotDeals {
    grid-column: 4 / 5;
    position: absolute;
    bottom: 65px;
    margin: 0 50px -20px 0;
    right: 0;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      background-image: url("./../images/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 12px;
      height: 12px;

      position: absolute;
      right: -41px;
    }
  }

  // hero__socialMedia
  &__socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 142px;

    position: absolute;
    right: -29px;
    top: 168px;
  }
}

// media queries
@media only screen and (max-width: 1320px) {
  // hero
  .hero {
    // hero__socialMedia
    &__socialMedia {
      right: 0px;

      margin: 0 20px 0 0;
    }
  }
}
@media only screen and (max-width: 1120px) {
  // hero
  .hero {
    &__description {
      max-width: 130px;
    }
    &__content {
      &__photo {
        &::after {
          width: 60%;
          margin: 0 0 -6px 20px;
        }
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  // hero
  .hero {
    &__description {
    }
    &__content {
      &__photo {
        &::before {
          left: 8px;
          max-width: 20px;
          margin: 0 0 16px 0;
        }
        &::after {
          width: 100% !important;

          left: 28px;
          bottom: 16px;
          font-size: 11px;
          color: #fff;
        }
      }
    }
  }
}
@media only screen and (max-width: 860px) {
  // hero
  .hero {
    margin-bottom: 50px;
    &__description {
      position: absolute;
      margin: 680px 10px 0 10px;
      width: 100%;
      max-width: 100% !important;
    }
    &__content {
      margin: 0 0 0 200px;

      &__photo {
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 820px) {
  .hero {
    &::before {
      height: 440px;
    }

    &__description {
      margin: 570px 10px 0 10px;
    }
    &__content {
      width: 340px;
      &__photo {
        width: 260px;
        & > img {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 680px) {
  .hero {
    margin-bottom: 100px;
    &::before {
      height: 300px;
    }

    &__description {
      margin: 520px 10px 0 10px;
    }
    &__content {
      &__titles {
        margin: 30px 0 0 0;
        left: -176px;
        &__korean {
          &__text {
            font-size: 64px;
          }
        }
        &__fashion {
          margin: 89px 0 0 60px;
          &__text {
            font-size: 48px;
          }
        }

        &__btn {
          &__line {
            height: 100px;
          }
        }
      }

      width: 340px;
      &__photo {
        width: 210px;
        & > img {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 610px) {
  .hero {
    &__hotDeals {
      display: none;
    }
    &__description {
      margin: 400px 10px 0 10px;
    }
    &__content {
      margin: 0 0 0 30vw;
      &__titles {
        margin: 30px 0 0 0;
        left: -110px;
        &__korean {
          &__text {
            font-size: 36px;
            &:last-child {
              clip-path: polygon(82% 0, 100% 0, 100% 100%, 82% 100%);
            }
          }
        }
        &__fashion {
          margin: 50px 0 0 38px;
          &__text {
            font-size: 24px;
            &:last-child {
              clip-path: polygon(72% 0, 100% 0, 100% 100%, 72% 100%);
            }
          }
        }

        &__btn {
          display: none;
          &__line {
            height: 100px;
          }
        }
      }

      &__photo {
        width: 150px;
      }
    }
  }
}
@media only screen and (max-width: 460px) {
  .hero {
    &__slider {
      margin: 20px 0 0 35px;
    }
    &__socialMedia {
      display: none;
    }
  }
}
@media only screen and (max-width: 360px) {
  .hero {
    &__content {
      &__titles {
        margin: 30px 0 0 0;
        left: -90px;
        &__korean {
          &__text {
            font-size: 36px;
            &:last-child {
              clip-path: polygon(67% 0, 100% 0, 100% 100%, 67% 100%);
            }
          }
        }
        &__fashion {
          margin: 50px 0 0 38px;
          &__text {
            font-size: 24px;
            &:last-child {
              clip-path: polygon(51% 0, 100% 0, 100% 100%, 51% 100%);
            }
          }
        }

        &__btn {
          display: none;
          &__line {
            height: 100px;
          }
        }
      }

      &__photo {
        width: 130px;
      }
    }
  }
}
