// trending
.trending {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;

  // trending__title
  &__title {
    margin: 0 0 0 50px;
    font-size: 36px;
    font-weight: 400;
  }

  // trending__items
  &__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0 0 0;

    // trending__items__item
    &__item {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin: 0 20px 0 0;

      &:last-child {
        margin: 0;
      }

      & > img {
        width: 100%;
      }

      // trending__items__item__title
      &__title {
        max-width: 200px;
        margin: 20px 0 0 15px;

        position: relative;

        &::before {
          content: "";
          width: 5px;
          height: 2px;
          background: #1a1a1a;

          position: absolute;
          left: -10px;
          margin: 6px 0 0 0;
        }
      }
    }
  }

  // trending__btn
  &__btn {
    align-self: center;
    margin: 120px 0 0 0;
  }
}

// media queries
@media only screen and (max-width: 680px) {
  .trending {
    &__items {
      flex-wrap: wrap;
      &__item {
        max-width: 300px;
      }
    }
    &__title {
      font-size: 28px;
      margin: 0 0 0 20px;
    }
  }
}
@media only screen and (max-width: 648px) {
  .trending {
    &__items {
      flex-direction: column-reverse;
      &__item {
        margin: 40px 0 0 0;
        max-width: 300px;

        &:nth-child(odd) {
          align-self: flex-end;
        }
      }
    }
    &__btn {
      margin: 50px 0 0 0;
    }
  }
}
