/* 
    imports
*/
// grid
@import "./grid";
// header
@import "./header";
// hero
@import "./hero";
// collection
@import "./collection";
// trending
@import "./trending";
// about
@import "./about";
// blog
@import "./blog";
// partners
@import "./partners";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Roboto Mono", monospace;
}

// html

// body
body {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-family: "Roboto Mono", monospace;
  color: #1a1a1a;

  position: relative;
  overflow-x: hidden;
}

// a
a {
  text-decoration: none;
  color: #1a1a1a;
}

// section
section {
  margin: 100px 0 0 0;
}

// button
button {
  background: none;
  color: #1a1a1a;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

// main__btn
.main__btn {
  width: 130px;
  height: 54px;

  border: 1px solid #1a1a1a;

  position: relative;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("./../images/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    margin: 4px 0 0 10px;

    pointer-events: none;
  }
}
// main__btn
.secondary__btn {
  width: 180px;
  height: 54px;

  border: 1px solid #1a1a1a;

  position: relative;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("./../images/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    margin: 4px 0 0 10px;

    pointer-events: none;
  }
}
